.ham{
    
    width: 40px; 
    height: 40px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../img/menu.svg);
    font-size: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.ham span{

}
.ham:hover{
    
}
.ham span:nth-child(1){

}
.ham span:nth-child(2){

}
.ham span:nth-child(3){

}
