@media screen and (max-width:980px) {
  header{
  position: fixed;
  z-index: 1;
  }
  header .wrap h1 a{
  margin-left: 20px;
  }
  header .wrap a.ham span{
    
  width: auto;
  box-sizing: border-box;
  text-align: center;
  white-space: nowrap;
  }
/* title   */
  #title{
    
  }
  #title .wrap{
    
  }
  #title .wrap .witem1{
    
  }
  #title .wrap .witem h2{
  font-size: 55px;
  right: 100px;
  top: 300px;
  }
  #title .wrap .witem p{
  right: 100px;
  top: 370px;
  }
/* promotion   */
  section#promotion .wrap{
    
  width: 100%;
  row-gap: 100px;
  height: 100%;
  }
  section#promotion .wrap h2{
  width: 100%;
  padding-top: 100px;
  box-sizing: border-box;
  }
  section#promotion .wrap iframe{
  height: 100%;
  box-sizing: border-box;
  border: none;
  width: 100%;
  padding: 0 0 300px 20px;
  }
  section#promotion .wrap p{
  font-size: 16px;
  height: 100%;
  padding-top: 200px;
  }
/* business   */
  section#business .wrap{
    
  width: 100%;
  height: 100%;
  }
  section#business .wrap h2{
    
  width: 100vw;
  padding-bottom: 100px;
  }
  section#business .wrap ul{
    
  width: 100vw;
  }
  section#business .wrap ul li a::before{
    
  width: 500px;
  }
  section#business .wrap ul li a figure{
  margin: 0 20px;
  }

/* product   */
  section#products .wrap h2{
    
  }
  section#products .wrap div article{
  height: 50%;
  }
  section#products .wrap div article figure{
  }
  section#products .wrap div article figure img{
    
  margin: 20px;
  width: 22vw;
  height: 20vw;
  }
  section#products .wrap div article figure figcaption{
  text-align: center;
  opacity: 1;
  white-space: pre-line;
  top: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 235px;
  height: 240px;
  }
  section#products .wrap div article h3{
    
  text-align: center;
  }
/* news   */
  section#news .wrap h2{
  transform: none;
  }
  section#news .wrap ul{
  white-space: nowrap;
  padding: 250px 100px;
  }
/* footer   */
  footer .wrap{
    
  display: flex;
  justify-content: end;
  }
  footer .wrap a.logo{
  left: 20px;
  }
  footer .wrap div{
    
  padding-right: 20px;
  }
  footer .wrap div select{
  margin: 0;
  }
  footer .wrap address{
  padding-left: 20px;
  box-sizing: border-box;
  border-top: 1px solid #eee;
  }
  footer .wrap p{
  padding-left: 20px;
  box-sizing: border-box;
  }
  footer .wrap a.blog{
  right: 20px;
  }
/* aside   */
  aside ul{ 
  display: none;
  }
}